@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap");

$tealish: rgb(25, 126, 133);
$zambezi: #5f5454;
$wafer: #e1d2c6;
$calypso: #9c7c7a;
$granny: #7c9797;
$white: white;
$nanum: "Nanum Myeongjo", serif;
$gothic: "Nanum Gothic", sans-serif;

$tealish: #197e85;
$zambezi: #5f5454;
$wafer-rgba: rgba(225, 210, 198, 0.66);
$calypso: #9c7c7a;
$granny: #7c9797;
$white: white;
$nanum: "Nanum Myeongjo", serif;
$gothic: "Nanum Gothic", sans-serif;
