@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');

$tealish: #197e85;
$zambezi: #5F5454;
$wafer: #E1D2C6;
$calypso: #9C7C7A;
$granny: #7C9797;
$white: white;
$nanum: 'Nanum Myeongjo', serif;
$gothic: 'Nanum Gothic', sans-serif;

$tealish: #197e85;
$zambezi: #5F5454;
$wafer-rgba: rgba(225, 210, 198, .66)
;
$calypso: #9C7C7A;
$granny: #7C9797;
$white: white;
$nanum: 'Nanum Myeongjo', serif;
$gothic: 'Nanum Gothic', sans-serif;