@import "_assets";

:root {
  font-size: 18px;
}
a {
  padding: 1rem;
}
a:hover {
  cursor: url(./assets/flower.png) -5 8, auto;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
#fixedBar {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: $wafer;
  font-family: $nanum;
  font-size: 0.66rem;
  top: 0;
  padding: 0.66rem;
  width: 100%;
  height: 1.33rem;
  color: $tealish;
  box-shadow: 0 0 5px 3px $tealish;

  #titleWrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1 0 30%;
    margin-left: 1rem;

    #brandName {
      font-size: 1rem;
    }
    .divider {
      font-size: 1.3rem;
      color: $calypso;
      font-weight: bolder;
      margin-left: 0.33rem;
    }
    #subtitle {
      font-size: inherit;
      margin-left: 0.33rem;
    }
  }

  #linkBox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 30%;
    margin-right: 3rem;
    font-size: 0.66rem;

    .link {
      font-weight: 600;
      font-size: inherit;
    }
    .divider {
      font-size: 1.3rem;
      font-weight: bolder;
      color: $calypso;
    }
  }
}
#bannerBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 24rem;
  margin: 6rem auto 3rem;

  #logo {
    margin: auto;
    width: 66%;
  }
}

#mainSection {
  width: 100%;
  height: 100vh;
  font-family: $nanum;
  font-size: 1.5rem;
  padding: 0 16%;
  color: $white;
  background-color: $wafer;
  box-shadow: 0 -2rem 3rem 2rem $wafer;
  .contentBox {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    margin: 3rem auto;
    .subBoxOne {
       justify-content: center;
      display: flex;
      font-size: 1rem;
      margin:  auto 0;
      font-style: italic;
      color: $tealish;
      #service {
         font-weight: 400;
      }
    }
    .subBoxTwo {
      flex: 1 0 50%;
      #wellness {
         font-size: 2rem;
         text-decoration: overline $calypso 1px;
         letter-spacing: .66rem;
         margin: 1rem;
      }
      .andperse {
        color: $tealish;
        font-weight: 600;
        font-size: 1.5rem;
      }
      #beauty {
         letter-spacing: .33rem;
         line-height: 1.5;
         font-size: 1.5rem;
      }
      // #beauty::after {
      //    content: "BEAUTY";
      //    position: absolute;
      //    text-decoration: underline $calypso 1px;
      //    animation: blur;
      // }
    }
  }
}

// @keyframes blur {

// }

#footerBox {
  position: relative;
  z-index: 5;
  grid-template-columns: calc(1 / 3) calc(1 / 3) calc(1 / 3);
  grid-template-rows: 8rem 8rem 8rem;
  width: 100%;
  height: 18rem;
  gap: 2rem;
  padding: 6rem;
}

@media screen and (max-width: 1025px) {
  :root {
    font-size: 15px;
  }
  #bannerBox {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 769px) {
  :root {
    font-size: 13px;
  }
  #mainSection {
    grid-template-columns: 100%;
    grid-template-rows: 16rem 16rem 16rem;
  }
  #fixedBar {
    #linkBox {
      margin-right: 0.33rem;
    }
  }
  #bannerBox {
    margin-bottom: 8rem;
  }
}

@media screen and (max-width: 426px) {
  :root {
    font-size: 12px;
  }
  #bannerBox {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 376px) {
  :root {
    font-size: 11px;
  }
}
