@import "_assets";

:root {
  font-size: 18px;
}

a {
  padding: 1rem;
  text-decoration: none;
}
a:hover {
  cursor: url(./assets/flower.png) -5 8, auto;
  mix-blend-mode: luminosity;
  transform: translateZ(0.33rem) translateY(-0.33rem) scale(1.17);
  transition: all 1s;
}

.App {
  overflow-x: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

#fixedBar {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(225, 210, 198, .83);
  font-family: $nanum;
  font-size: 0.66rem;
  top: 0;
  padding: 0.66rem;
  width: 100%;
  height: 1.33rem;
  color: $tealish;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.15), 0 0px 10px rgba(0, 0, 0, 0.15),
      0 0px 12px rgba(0, 0, 0, 0.15), 0 0px 16px rgba(0, 0, 0, 0.15),
      0 0px 32px rgba(0, 0, 0, 0.15);

  #titleWrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1 0 30%;
    margin-left: 2rem;

    #brandName {
      font-size: 1rem;
    }
    .divider {
      font-size: 1.3rem;
      color: $calypso;
      font-weight: bolder;
      margin-left: 0.33rem;
    }
    .divider:hover {
      cursor: default;
   }
    #subtitle {
      font-size: inherit;
      margin-left: 0.33rem;
    }
  }

  #linkBox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 30%;
    margin-right: 3rem;
    font-size: 0.66rem;

    .link {
      font-weight: 600;
      font-size: inherit;
      color: $tealish;
      a {
         color: inherit;
      }
    }
    .divider {
      font-size: 1.3rem;
      font-weight: bolder;
      color: $calypso;
    }
  }
}

#bannerBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 24rem;
  margin: 7rem auto 0rem;

  #logo {
    margin: auto;
    width: 66%;
  }

  #contactBox {
     font-family: $gothic;
     color: $tealish;
     width: 77%;
  }
  #contactBox p a {
     color: inherit;
  }
}

#mainSection {
  width: 100%;
  height: 22rem;
  font-family: $nanum;
  font-size: 1.5rem;
  padding: 3% 11% 9%;
  padding-top: 3%;
  color: $white;
  background-color: rgba(225, 210, 198, .77);
  box-shadow: inset 0 0px 6px rgba(0, 0, 0, 0.15), inset 0 0px 10px rgba(0, 0, 0, 0.15),
  inset 0 0px 12px rgba(0, 0, 0, 0.15), inset 0 0px 16px rgba(0, 0, 0, 0.15),
  inset 0 0px 32px rgba(0, 0, 0, 0.15);
  
  .contentBox {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    margin: 1rem 22%;

    .subBoxOne {
      justify-content: center;
      display: flex;
      font-size: 1.66rem;
      margin: auto 0;
      font-style: italic;
      color: $tealish;
      #service {
        font-weight: 300;
        text-decoration: overline 1px $calypso;
      }
    }

    .subBoxTwo {
      flex: 1 0 100%;
      #wellness {
        font-size: 2.66rem;
        letter-spacing: 1rem;
        padding: 0.33rem;
        transition: transform .6s, box-shadow 1s, border .3s, color 2s;
        margin-top: .66rem;
        border-top: 2px solid $tealish;
        border-right: 2px solid white;
        border-bottom: 2px solid $tealish;
        border-left: 2px solid white;
        border-radius: 0.33rem;
      }
      #wellness:hover {
         box-shadow: 0 0 0.05rem 0.05rem $white;
         transform: scale(1.05);
         border-top: 2px solid white;
         border-right: 2px solid $tealish;
         border-bottom: 2px solid white;
         border-left: 2px solid $tealish;
         color: $calypso;
      }
      #beauty:hover {
         box-shadow: 0 0 0.05rem 0.05rem $tealish;
         transform: scale(1.1);
         border-top: 2px solid $tealish;
         border-right: 2px solid white;
         border-bottom: 2px solid $tealish;
         border-left: 2px solid white;
         color: $tealish;

      }

      #wellness:hover,
      #beauty:hover {
        cursor: url(./assets/flower.png) -5 8, auto;
      }

      .andperse {
        color: $tealish;
        font-weight: 300;
        font-size: 2rem;
        font-style: italic;
        text-decoration: overline 1px $calypso;
      }

      #beauty {
        letter-spacing: 0.66rem;
        line-height: 1.5;
        font-size: 1.99rem;
        border: 1px solid $calypso;
        margin: 1rem 3rem;
        border-radius: 0.33rem;
        transition: transform .6s, box-shadow 1s, border .3s, color 2s;
        border-top: 2px solid white;
        border-right: 2px solid $tealish;
        border-bottom: 2px solid white;
        border-left: 2px solid $tealish;
      }
    }
  }
  #palette-grid {
    #palette {
      height: 66%;
      width: 66%;
      margin: 5rem auto;
      border-radius: 2rem;
    }
  }
}
.frameContainer {
   display: flex;
   align-items: flex-start;
   margin-top: 3rem;
   margin-left: 2rem;
   width: 100%;
   height: auto;
   img {
      width: 20rem;
      max-height: 100%;
   }
   .frameOne {
      visibility: visible;
   }
   .frameTwo {
      
   }
   .frameThree {
   
   }
}



#footerBox {
  position: relative;
  z-index: 5;
  grid-template-columns: calc(1 / 3) calc(1 / 3) calc(1 / 3);
  grid-template-rows: 8rem 8rem 8rem;
  width: 100%;
  height: 18rem;
  gap: 2rem;
  padding: 6rem;
}

@media screen and (max-width: 1025px) {
  :root {
    font-size: 15px;
  }
}

@media screen and (max-width: 769px) {
  :root {
    font-size: 13px;
  }
  #mainSection {
    grid-template-columns: 100%;
    grid-template-rows: 16rem 16rem 16rem;
    .contentBox {
      margin: 0;
    }
  }
  #fixedBar {
    #linkBox {
      margin-right: 0.33rem;
    }
  }
  #bannerBox {
    margin-bottom: 4rem;
  }
  #linkBox a {
   padding: 0.55rem;
}
}

@media screen and (max-width: 426px) {
  :root {
    font-size: 12px;
  }
  #bannerBox {
    margin-bottom: 0;
  }
  #linkBox a {
     padding: 0.33rem;
  }
}

@media screen and (max-width: 376px) {
  :root {
    font-size: 11px;
  }
}
