@import "_assets";
@import "./Calendar.scss";
@import "./body.scss";
:root {
  font-size: 18px;
  caret-color: pink;
}
img {
  animation: fadeIn 3s ease-in-out forwards;
}
textarea {
  max-height: 15rem;
}
a {
  text-decoration: none;
  transition: all 0.5s;
}
a:hover {
  cursor: url(../assets/flower.png) -5 8, auto;
  color: pink;
  transform: scale(1.1);
  transition: all 0.5s;
  border-radius: 0.33rem;
}

.App {
  overflow-x: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.react-calendar__viewContainer button {
  background-color: white;
  border: 0.11rem solid pink;
}
.react-calendar__viewContainer button:hover {
  transform: scale(1.06);
}
#fixedBar {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(225, 210, 198, 1);
  font-family: $nanum;
  font-size: 0.75rem;
  font-weight: bold;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 3.33rem;
  color: $tealish;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1), 0 0px 10px rgba(0, 0, 0, 0.1),
    0 0px 12px rgba(0, 0, 0, 0.1), 0 0px 16px rgba(0, 0, 0, 0.1),
    0 0px 32px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  border-left: 3px solid $calypso;
  border-right: 3px solid $calypso;

  #titleWrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1 0 5rem;
    margin-left: 2rem;

    #brandName {
      font-size: 1.33rem;
      margin: auto 0.66rem;
      transition: all 0.3s;
    }
    #brandName:hover {
      cursor: url(../assets/flower.png) -5 8, auto;
      transform: scale(1.15);
      transition: all 0.3s;
    }
    .divider {
      font-size: 1.3rem;
      color: $calypso;
      font-weight: bolder;
    }
    .divider:hover {
      cursor: default;
    }
    #subtitle {
      font-size: inherit;
      margin: auto 1rem;
    }
  }

  #linkBox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 30%;
    margin-right: 3rem;
    font-size: 0.75rem;

    .link {
      font-weight: 600;
      font-size: inherit;
      color: $tealish;
      padding: 0.66rem;
      a {
        color: inherit;
      }
    }
    .divider {
      font-size: 1.3rem;
      font-weight: bolder;
      color: $calypso;
    }
  }
}

#bannerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24rem;
  margin-top: 4rem;

  #logo {
    margin: auto;
    width: 66%;
    filter: opacity(1.3) brightness(1.1);
  }

  #contactBox {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: space-between;
    font-family: $gothic;
    color: $tealish;
    width: 80vw;
    animation: fadeIn 2s ease-in-out forwards;
    form {
      position: absolute;
      padding: 0 1rem;
      z-index: 5;
      opacity: 0;
      top: 13%;
      left: 50%;
      min-height: 70vh;
      width: 66%;
      transform: translate(-50%, 0);
      background-color: white;
      border-radius: 1rem;
      border: 0.11rem solid $tealish;
      box-shadow: 0 0px 6px rgba(0, 22, 17, 0.1),
        0 0px 12px rgba(0, 22, 17, 0.1), 0 0px 16px rgba(0, 22, 17, 0.1),
        0 0px 32px rgba(0, 22, 17, 0.1);
      animation: fadeIn 1s ease-in-out forwards;
      #exit {
        width: 3rem;
        position: relative;
        right: -33%;
      }
      div {
        margin: 1rem;
      }
    }
    textarea {
      height: 15rem;
      margin: auto;
      resize: none;
    }
    form button {
      background-color: white;
      color: pink;
      height: 2.66rem;
      margin-bottom: 2rem;
      width: 6rem;
    }
    form input {
      width: 50%;
      margin: auto;
    }
    .details {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 0 100%;
      max-height: 30%;
      font-size: 1rem;
      font-style: italic;
      font-weight: lighter;
      letter-spacing: 0.16rem;
      margin: 1rem;
    }
    .details img {
      position: absolute;
      z-index: -1;
      width: 7rem;
      margin: auto;
      left: 50%;
      margin-top: 2.66rem;
      transform: translate(-50%, 0);
    }
    .details h2 {
      margin: 1.66rem auto;
    }
    .details p a:hover {
      background-color: rgba(255, 216, 228, 0.33);
      transform: scale(1.3);
    }
  }

  #contactBox p a {
    color: inherit;
  }

  #contactBox h2 {
    font-size: 1.33rem;
  }

  .buttonBox {
    margin: 2rem auto -1rem;
  }
  #compose {
    background: white;
    color: $calypso;
    width: 5rem;
    height: 3rem;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.33rem;
    font-size: 0.88rem;
    font-family: $gothic;
    font-weight: 600;
    opacity: 0.9;
    box-shadow: 0 4px 10px rgba(0, 22, 17, 0.2);
  }
  #compose:hover {
    background: $tealish;
    color: white;
  }
}

#mainSection {
  width: 100%;
  height: 17rem;
  font-family: $nanum;
  padding: 0;
  color: $white;
  background-color: rgba(225, 210, 198, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  box-shadow: 0 -1px 2rem 1px rgba(0, 0, 0, 0.2);

  .contentBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    .subBoxOne {
      justify-content: center;
      display: flex;

      margin: auto 0;
      font-style: italic;
      color: $tealish;
      #service {
        font-size: 1rem;
        font-weight: 300;
        text-decoration: overline 1px $calypso;
      }
    }

    .subBoxTwo {
      width: 77%;
      max-width: 30rem;
      #wellness {
        font-size: 1.33rem;
        letter-spacing: 1rem;
        padding: 0.11rem 1rem;
        transition: transform 0.6s, box-shadow 1s, border 0.3s, color 2s;
        margin-top: 0.66rem;
        border-top: 2px solid $tealish;
        border-right: 2px solid white;
        border-bottom: 2px solid $tealish;
        border-left: 2px solid white;
        border-radius: 0.33rem;
      }
      #wellness:hover {
        box-shadow: 0 0 0.05rem 0.05rem $white;
        transform: scale(1.05);
        border-top: 2px solid white;
        border-right: 2px solid $tealish;
        border-bottom: 2px solid white;
        border-left: 2px solid $tealish;
        color: $calypso;
      }
      #beauty:hover {
        box-shadow: 0 0 0.05rem 0.05rem $tealish;
        transform: scale(1.1);
        border-top: 2px solid $tealish;
        border-right: 2px solid white;
        border-bottom: 2px solid $tealish;
        border-left: 2px solid white;
        color: $tealish;
      }

      #wellness:hover,
      #beauty:hover {
        cursor: url(../assets/flower.png) -5 8, auto;
      }

      .andperse {
        color: $tealish;
        font-weight: 300;
        font-size: 1.33rem;
        font-style: italic;
        text-decoration: overline 1px $calypso;
      }

      #beauty {
        letter-spacing: 0.66rem;
        line-height: 1.5;
        font-size: 1rem;
        border: 1px solid $calypso;
        margin: 1rem 3rem;
        border-radius: 0.33rem;
        transition: transform 0.6s, box-shadow 1s, border 0.3s, color 2s;
        border-top: 2px solid white;
        border-right: 2px solid $tealish;
        border-bottom: 2px solid white;
        border-left: 2px solid $tealish;
      }
    }
  }
}
.introWhite {
  // height: 12rem;
  display: block;
}

#footerBox {
  position: relative;
  z-index: 5;
  width: 100vw;
  margin-top: 2rem;
  .flower-box {
    img {
      filter: opacity(0.2);
      height: 15rem;
      margin-bottom: -5rem;
      z-index: -1;
    }
    .reach-out {
      color: $tealish;
      position: relative;
      width: 50vw;
      margin: 2rem auto 3rem;
      top: -7rem;
      font-size: 1.66rem;
      font-style: italic;
      font-family: $nanum;
    }
  }

  .details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.66rem;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 0.16rem;
    margin-top: -6rem;
    width: 100%;
    height: 10%;
    font-family: $nanum;
    background: rgba(25, 126, 133, 1);
    .fullname::before {
      content: "";
      background-color: $zambezi;
    }
    .fullname {
      margin-top: 3rem;
      font-size: 1.66rem;
      color: white;
      width: 100%;
    }
    .contacts {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 3rem;
      width: 100%;
    }
  }
  .details > p > a {
    color: white;
    text-decoration: underline;

    span {
      color: $zambezi;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1921px) {
  :root {
    font-size: 16px;
  }
  #mainSection {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 1025px) {
  :root {
    font-size: 15px;
  }
  #mainSection {
    margin-top: 5rem;
  }
  #fixedBar {
    height: 4rem;
  }
}

@media screen and (max-width: 769px) {
  :root {
    font-size: 12px;
  }
  #mainSection {
    margin-top: 3rem;
  }
  #fixedBar {
    padding: 0.33rem;
    #titleWrap {
      margin: 0.33rem auto 0.33rem 2rem;
    }
    #linkBox {
      margin-right: 0.33rem;
      padding: 1rem;
    }
  }
  #bannerBox {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 426px) {
  :root {
    font-size: 10px;
  }
  #linkBox a {
    padding: 0.33rem;
  }
  #bannerBox {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 376px) {
  :root {
    font-size: 9px;
  }
}
