@import "./assets";

#bodyBox {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-start;
  align-items: flex-start;
  border: none;
  outline: none;
  padding: none;
  background-color: rgba(25, 126, 133, 1);
  box-shadow: 0 -5px 20px 5px rgba(0, 22, 17, 0.3);
  .aboutSection {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    .section-wrap {
      display: flex;
      justify-content: flex-end;

      .selfie {
        float: left;
        width: 33%;
        border-radius: 50%;
        margin: 0 1rem 5% 10%;
        border: 3px solid $calypso;
      }
      .selfie-section > h3 {
        color: white;
        margin-top: 15%;
        margin-left: auto;
        margin-right: 35%;
        padding-bottom: 1rem;
        text-align: right;
        border-bottom: 2px solid $calypso;
        font-size: 2rem;
        width: 25%;
      }
      .selfie-section > p {
        text-align: right;
        color: white;
        font-size: 1.33rem;
        margin: 15%;
        margin-left: 0rem;
        border-right: 2px solid $calypso;
        padding-right: 3rem;
        font-style: italic;
      }
    }
    .experience-section > h3 {
      width: 33%;
      font-size: 2rem;
      color: white;
      text-align: left;
      margin-left: 15%;
      border-bottom: 2px solid $calypso;
      padding-bottom: 1rem;
      width: 66%;
    }
    .experience-section > p {
      width: 66%;
      padding-left: 3rem;
      margin-top: 5%;
      margin-left: 12%;
      text-align: left;
      color: white;
      font-size: 1.33rem;
      border-left: 2px solid $calypso;
      font-style: italic;
    }
    .inspiration-section > h3 {
      width: 66%;
      color: white;
      margin: 10% 15%;
      margin-left: auto;
      padding-bottom: 1rem;
      text-align: right;
      border-bottom: 2px solid $calypso;
      font-size: 2rem;
    }
    .inspiration-section > p {
      width: 66%;
      text-align: right;
      color: white;
      font-size: 1.33rem;
      margin: 5% 12%;
      margin-left: auto;
      border-right: 2px solid $calypso;
      padding-right: 3rem;
      font-style: italic;
    }
  }
  .aboutSection > div > h3 {
    font-family: $nanum;
    font-weight: bolder;
  }
  .horizontal-rule {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 66vw;
    border: none;
    margin: 8.5rem auto;
    border-radius: 100%;
    .left-rule {
      height: 4px;
      background-color: $calypso;
      width: 33%;
      border-radius: 100%;
    }
    .icon {
      margin: 0 1rem;
      color: white;
    }
    .right-rule {
      height: 4px;
      background-color: $calypso;
      width: 33%;
      border-radius: 100%;
    }
  }
}
